<form class='pvl mvxl'>
  <fieldset>
    <legend class='pbl'>
      Login
    </legend>
    <div class='pbl'>
      <label class='pbs' for='username'>username</label>
      <input id='username' type='text' name='username' placeholder='username'>
    </div>
    <div class='pbl'>
      <label class='pbs' for='password'>password</label>
      <input id='password' type='password' name='password' placeholder='password'>
    </div>
    <div class='pbl'>
      <button type='submit' value='Login'>Login</button>
    </div>
  </fieldset>
</form>
