<form class='pvl mvxl'>
  <fieldset>
    <legend>
      sign up
    </legend>
    <div>
      <label for='username'>username</label>
      <input id='username' type='text' name='username' placeholder='username'>
    </div>
    <div>
      <label for='email'>email</label>
      <input id='email' type='text' name='email' placeholder='email'>
    </div>
    <div>
      <label for='password'>password</label>
      <input id='password' type='password' name='password' placeholder='password'>
    </div>
    <div>
      <label for='confirm-password'>confirm password</label>
      <input id='confirm-password' type='password' name='confirm-password' placeholder='confirm password'>
    </div>
    <div>
      <input type="submit" value='Sign Up'>
    </div>
  </fieldset>
</form>

