<form class='pvl mvxl'>
  <fieldset>
    <legend class="pbl">
      Sign Up
    </legend>
    <div class="pbl">
      <label class='pbs' for='username'>username</label>
      <input id='username' type='text' name='username' placeholder='username'>
    </div>
    <div class="pbl">
      <label class='pbs' for='email'>email</label>
      <input id='email' type='text' name='email' placeholder='email'>
    </div>
    <div class="pbl">
      <label class='pbs' for='password'>password</label>
      <input id='password' type='password' name='password' placeholder='password'>
    </div>
    <div class="pbl">
      <label class='pbs' for='confirm-password'>confirm password</label>
      <input id='confirm-password' type='password' name='confirm-password' placeholder='confirm password'>
    </div>
    <div class="pbl">
      <button type='submit' value='Sign Up'>Sign Up</button>
    </div>
  </fieldset>
</form>
